# Initial Explorations

The main purpose of this project is to learn about what drives the price of pork in Colombia and be able to make demand predictions based on data found from different sources. The first question I wanted to answer was if there was a way to measure the price pork is sold in Colombia. Fortunaetly, there is an association in Colombia that tracks this http://asoporcicultores.co/. After talking with one of the representatives I was able to obtain two datasets. The datasets are different in that one shows the price of pork/Kg before the animal is sacrificed and the other after. Since the company I'm working with sacrifice their animals, we are going to use the second dataset. I will still use the other data later to see if it is recomendable that they sell without sacrificing.

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../Assets/Precio Semanal de Cerdo por Kg.csv')
df.head()

        Date  Antioquia      Eje   Bogot�  Valle  Nacional
0   8-Jan-10    6462.33  6189.75  6115.75    NaN   6229.16
1  15-Jan-10    6438.47  6091.18  6214.40    NaN   6194.56
2  22-Jan-10    6321.18  6162.45  6256.79    NaN   6221.21
3  29-Jan-10    6259.65  6110.11  6351.40    NaN   6186.28
4   5-Feb-10    6239.19  6127.92  6287.73    NaN   6189.93

Looking at the head of the dataframe one can see that the columns need some renaming, the date needs to be formated into a python datetime and there are some NaN values in the data that need attention.